head
    title User Manager
    link(rel="stylesheet", href="./style.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css", integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Poppins", rel="stylesheet")
    script(src="script.js")
body
    a(href="/").home
        i(class="fas fa-home")